// ==========================================================================
// Bukalapak Colors
// ==========================================================================

// Here we set a variable assuming that default and module settings
// are not set globally. If they have been previously been defined,
// the following variable will be overriden and will be set to `true`.
$imported-global-settings: false !default;

@if ($imported-global-settings == false) {
  @warn "Oops! Have you included a global settings files?";
}

// The below loop  will generate us a suite of classes like:
//
//    // foreground colors
//    .u-fg--red-brand
//    .u-fg--green
//
//    // background colors
//    .u-bg--red-brand
//    .u-bg--green
//

//scss-lint:disable ImportantRule
@each $name, $color in $global-utilities-colors {
  .u-bg--#{$name} {
    background-color: $color !important;
  }

  .u-fg--#{$name} {
    &,
    &:focus,
    &:hover {
      color: $color !important;
    }
  }
}

@each $name, $color in $global-utilities-colors {
  .u-bg-hover--#{$name}:hover {
    background-color: $color !important;
  }

  .u-fg-hover--#{$name}:hover {
    color: $color !important;
  }
}

@each $name, $color in $global-external-colors {
  .u-bg-external--#{$name} {
    background-color: $color !important;
  }

  .u-fg-external--#{$name} {
    &,
    &:focus,
    &:hover {
      color: $color !important;
    }
  }
} 

.u-bg--gradient {
  background-image: linear-gradient(to bottom, $global-color-white, $global-color-sand-light);
}

.u-bg--gradient-inverse {
  background-image: linear-gradient(to top, $global-color-white, $global-color-sand-light);
}

.u-bg--gradient--lr {
  background-image: linear-gradient(to right, transparent, $global-color-ash-light);
}

.u-bg--gradient--rl {
  background-image: linear-gradient(to left, transparent, $global-color-ash-light);
}

.u-mrgn-top--1 {
  margin-top: 6px;
}

.u-mrgn-top--2 {
  margin-top: 12px;
}

.u-mrgn-top--4 {
  margin-top: 24px;
}

.u-mrgn-top--6 {
  margin-top: 36px;
}

.u-width-1 {
  width: 100%;
}

.u-float-left {
  float: left;
}

.u-float-right {
  float: right;
}

.u-clearfix {
  clear: both;
}

.u-align-center {
  text-align: center;
}

.u-align-right {
  text-align: right;
}

.u-display-inline-block {
  display: inline-block;
}

.u-txt-bold {
  font-weight: 700;
}