.u-mrgn-top--1 {
  margin-top: 6px;
}

.u-mrgn-top--2 {
  margin-top: 12px;
}

.u-width-1 {
  width: 100%;
}

.u-float-left {
  float: left;
}

.u-clearfix {
  clear: both;
}

.u-align-right {
  text-align: right;
}