
// Settings: Global variables, site-wide settings, config switches, etc.
@import "1settings";
// Tools: Site-wide mixins and functions.
@import "2tools";
// Generic: Low-specificity, far-reaching rulesets (e.g. resets).
@import "3generic";
// Elements: Unclassed HTML elements (e.g. `a {}`, `blockquote {}`, `address {}`).
@import "4elements";
// Objects: Objects, abstractions, and design patterns (e.g. `.o-container {}`, `.o-layout {}`, `.o-media {}`).
@import "5objects";
// Components: Discrete, complete chunks of UI (e.g. `.c-carousel {}`). This is the one layer that the framework doesn't get involved with.
@import "6components";
// Utilities: High-specificity, very explicit selectors. Overrides and helper classes (e.g. `.u-hide {}`, `.u-show`) the only place where `!important` is allowed.
@import "7utilities";

.nav-wrapper {
    background: $global-color-red-brand;
}

.userView .background {
    background: $global-color-red-brand;
    width: 300px;
    height: 160px;
}

[v-cloak] {
    display: none;
}